<form #userinfo="ngForm" (ngSubmit)="submitted()">

    <div class="rounded bordered-2 text-2xl">
        <h1>Enter Your Name:</h1>
        <input type="text" [(ngModel)]="user.name" name="name" #username="ngModel" required>
        
        @if ((username.dirty || userinfo.submitted) && username.invalid) {
            <p style="color: red;">This Field Is Required</p>
        }
    </div>

    <div class="rounded bordered-2 text-2xl">
        <h1>Enter Your Age:</h1>
        <input type="number" min="18" max="100" [(ngModel)]="user.age" name="age" #userage="ngModel" required>
        
        @if ((userage.dirty || userinfo.submitted) && userage.invalid) {
            <p style="color: red;">This Field Is Required (Must be between 18 and 100)</p>
        }

        <h1>Enter Your Email:</h1>
        <input type="email" [(ngModel)]="user.email" name="email" #useremail="ngModel" required email>
        
        @if ((useremail.dirty || userinfo.submitted) && useremail.invalid) {
            <p style="color: red;">A valid email address is required</p>
        }
    </div>

    <button type="submit" [disabled]="userinfo.invalid" [class]="userinfo.invalid ? 'bg-red-500 text-white rounded p-5' : 'bg-green-500 text-white rounded p-5'">
        Submit
    </button>

    <button type="reset" class="ml-1 bg-yellow-500 text-white rounded p-5">
        Reset
    </button>
</form>

<br>
{{user.name}} | {{user.age}} | {{user.email}}
